body {
    font-family: Calibr, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    background-color: #E6DACB;
}

p {
    color: #442424;
}

.title {
    margin: 50px auto 20px auto;
    text-align: center;
}

.title img {
    width: 100px;
    height: 100px;
}

.title p {
    font-size: 60px;
    margin: 20px 0 40px 0;
}

#paypal-button-container {
    width: 320px;
    margin: 20px auto;
    text-align: center;
}